{% extends "layout.html" %}
{% load widget_tweaks %}

{% block scripts %}
    <script>

        $(document).ready(function () {
            console.log("test");
        });


        function updateElementIndex(el, prefix, ndx) {
            var id_regex = new RegExp('(' + prefix + '-\\d+)');
            var replacement = prefix + '-' + ndx;
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }

        function cloneMore(selector, prefix) {
            var newElement = $(selector).clone(true);
            var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
            newElement.find(':input').each(function () {
                var name = $(this).attr('name')
                if (name) {
                    name = name.replace('-' + (total - 1) + '-', '-' + total + '-');
                    var id = 'id_' + name;
                    $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
                }
            });
            total++;
            $('#id_' + prefix + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
            var conditionRow = $('.form-row:not(:last)');
            conditionRow.find('.btn.add-form-row')
                .removeClass('btn-success').addClass('btn-danger')
                .removeClass('add-form-row').addClass('remove-form-row')
                .html('-');
            return false;
        }

        function deleteForm(prefix, btn) {
            var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            if (total > 1) {
                btn.closest('.form-row').remove();
                var forms = $('.form-row');
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
                for (var i = 0, formCount = forms.length; i < formCount; i++) {
                    $(forms.get(i)).find(':input').each(function () {
                        updateElementIndex(this, prefix, i);
                    });
                }
            }
            return false;
        }

        $(document).on('click', '.add-form-row', function (e) {
            console.log("test")
            e.preventDefault();
            cloneMore('.form-row:last', 'form');
            return false;
        });

        $(document).on('click', '.remove-form-row', function (e) {
            e.preventDefault();
            deleteForm('form', $(this));
            return false;
        });

        submitForms = function () {
            document.getElementById("receita").submit();
            document.getElementById("ingredientes").submit();
        }
    </script>
{% endblock %}

{% block content %}

    <div class="container body-content">
        <h3 class="text-center text-uppercase text-secondary mb-0" style="margin-top: 4rem">Adicionar Receita</h3>
        <hr class="star-dark mb-5" style="margin-top: 1.5rem">

        <form id="receita" action="." method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                <div>
                    <div class="form-group">
                        {{ form.nome.label_tag }}
                        <div>
                            {{ form.nome | add_class:"formcontrol1" }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group col">
                            {{ form.descricao.label_tag }}
                            <div>
                                {{ form.descricao | add_class:"formcontrol1" }}
                            </div>
                        </div>
                        <div class="form-group col">
                            {{ form.preparacao.label_tag }}
                            <div>
                                {{ form.preparacao | add_class:"formcontrol1" }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            {{ form.tipo.label_tag }}
                            {{ form.tipo | add_class:"formcontrol1" }}
                        </div>
                        <div class="col">
                            {{ form.dificuldade.label_tag }}
                            {{ form.dificuldade | add_class:"formcontrol1" }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            {{ form.tempo.label_tag }}
                            {{ form.tempo | add_class:"formcontrol1" }}
                        </div>
                        <div class="col">
                            {{ form.dose.label_tag }}
                            {{ form.dose | add_class:"formcontrol1" }}
                        </div>
                    </div>
                </div>

                <div class="row form-row spacer">
                    <div class="col-2">
                        <label>{{ form.nomeIngr.label }}</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <div>{{ form.nomeIngr }}</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <div>{{ form.quantidadeIngr.label }}</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <div>{{ form.quantidadeIngr }}</div>
                        </div>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-success add-form-row">+</button>
                    </div>
                </div>
            {% endfor %}

            <div class="row spacer">
                <p>
                    <button class="btn btn-block btn-primary" onclick="submitForms()">Continuar</button>
                </p>
            </div>

        </form>
    </div>


{% endblock %}
