{% extends "layout.html" %}

{% block content %}

    <header class="masthead text-white text-center" style="background-image: url('static/imgs/frontPage.jpg'); background-size:100%; background-position: center;  background-size: cover;">
        <div class="container">
          <!--<img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="">-->
          <h1 class="text-uppercase mb-0">Pitadinha</h1>
          <hr class="star-light">
          <h2 class="font-weight-light mb-0">Web Developer - Graphic Artist - User Experience Designer</h2>
        </div>
    </header>

{% endblock %}
