
{% block content %}

    <div class="container body-content">
        <p align="right" style="margin-top: 10px">
            <a>
                <i class="fas fa-plus" style="font-size: 13px; color: #18bc9c;"></i>&nbsp;&nbsp;Adicionar Receita
            </a>
        </p>
        {% if infominhasreceitas %}
            {% for minhareceita in infominhasreceitas %}
                <div class="row" style="padding: 15px 10px 10px 10px; margin-top: 18px" onclick="location.href='{% url 'receita' minhareceita.id  %}'">
                    <div class="media">
                        <img src="/media/{{ minhareceita.imagem }}" class="align-self-center mr-3" alt="..." style="width: 15%">
                        <div class="media-body">
                            <h5 class="mt-0">{{ minhareceita.nome }}</h5>
                            {{ minhareceita.descricao }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p style="margin-top: 20px">Ainda não têm nenhuma receita! </p>
        {% endif %}
    </div>


{% endblock %}