
{% block content %}

    <div class="container body-content">
        <!-- FOR -->
        <div class="row" style="padding: 15px 10px 10px 10px; margin-top: 18px">
            <div class="media">
            <img src="../static/portfolio/food1.jpg" class="align-self-center mr-3" alt="..." style="width: 15%">
            <div class="media-body">
                <h5 class="mt-0">Media heading</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                odio, vestibulum in vulputate at, tempus viverra turpis.
            </div>
        </div>
        </div>
    </div>

{% endblock %}