{% extends 'layout.html' %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            console.log("test");
        });

        $('#x').click(function () {

            if ($(this).hasClass("far")) {
                $(this).addClass("fas").removeClass("far");
            } else {
                $(this).addClass("far").removeClass("fas");
            }
        });

        $('a').click(function () {
            console.log("ola");
            $(this).toggleClass("active");
        })


    </script>
{% endblock %}

{% block content %}

    <div class="container body-content">

        {% if request.user.is_authenticated %}
            <form id="save" action="." method="POST" >
                {% csrf_token %}
                <button
                        name='save'
                        id="x"
                        class="{{ booksaveclass }}"
                        type="submit"
                        style=" font-size: 30px;
                                color: #2C3E50;
                                background-color:transparent;
                                border-color:transparent;
                                float: right;
                                margin-top: 65px;">
                </button>
                <button
                        name='like'
                        id="x"
                        class="{{ likeclass }}"
                        type="submit"
                        style=" font-size: 30px;
                                color: #2C3E50;
                                background-color:transparent;
                                border-color:transparent;
                                float: right;
                                margin-top: 65px;">
                </button>
            </form>

        {% endif %}

        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center text-uppercase text-secondary mb-0" style="margin-top: 4rem">{{ nome }}</h3>
                <hr class="star-dark mb-5" style="margin-top: 1.5rem">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 align-self-center">
                <h5 class="text-center text-uppercase text-secondary mb-0">Descrição</h5>
                <br>

                <!-- Receita.Descrição -->
                <p align="justify">{{ descricao }}
                </p>
            </div>
            <div class="col-sm-6">

                <!-- Receita.Imagem-->
                <img class="img-fluid" src="{{ imagem }}" style="border-radius: 10px"/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 align-self-center" style="margin-top: 20px">

                <div style="border:3px solid #18bc9c; border-radius: 10px; padding: 10px 10px 10px 10px;">
                    <h5 class="text-center text-uppercase text-secondary mb-0" style="padding-bottom: 1rem">Ingredientes</h5>


                    {% for ingrediente in listIngredientes %}
                        <p align="center" style="margin-bottom: 0.5rem">
                            <i class="fas fa-angle-right" style="font-size: 15px; color: #18bc9c;"></i>
                            <b>&nbsp;&nbsp;{{ ingrediente.ingredienteName }}: </b>
                            {{ ingrediente.ingredienteQuant }}&nbsp;&nbsp;{{ ingrediente.unidade }} &nbsp;&nbsp;
                            <i class="fas fa-angle-left" style="font-size: 15px; color: #18bc9c;"></i>
                        </p>
                    {% endfor %}
                </div>


            </div>
            <div class="col-sm-6 align-self-center" style="margin-top: 20px">
                <div style="border:3px solid #18bc9c; border-radius: 10px; padding: 10px 10px 10px 10px;">
                    <!-- Duração -->
                    <div style="padding: 5px">
                        &nbsp;<i class="fas fa-hourglass-half"
                                 style="color: #18bc9c; padding-right: 5px; font-size: 15px"></i>&nbsp; <b>Duração:</b> &nbsp;{{ duracao }} min
                    </div>

                    <!-- Dificuldade -->
                    <div style="padding: 5px" ;>
                        <td style="vertical-align:middle;">
                            <i class="fas fa-dumbbell" style="color: #18bc9c; padding-right: 5px;"></i> <b>Dificuldade:</b> &nbsp;{{ dificuldade }}
                        </td>
                    </div>

                    <!-- Dose -->
                    <div style="padding: 5px">
                        <!-- Receita.Dose -->
                        <i class="fas fa-balance-scale" style="color: #18bc9c; padding-right: 5px;"></i> <b>Dose:</b> {{ dose }} dose(s)
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 " style="margin-top: 20px; padding-top: 10px">
                <h5 class="text-center text-uppercase text-secondary mb-0">Modo de Preparação </h5>
                <br>

                <ul class="instructions-list" style="list-style-type: none; padding-left: 0px">
                    {% for passos in preparacao %}
                        <li class="instruction-item">
                            <a id="d" class="instruction-check"></a>
                            <div class="instruction">
                                <p  align="justify" style="margin-bottom: 7px; font-size: medium" class="instruction-body">{{ passos }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>


{% endblock %}