{% extends "layout.html" %}
{% load widget_tweaks %}
{% block content %}

    <h2>{{ title }}</h2>

    <div class="container-login">
        <div class="wrap-signup">
            <section class="login" id="loginForm">
                <form method="post">
                    {% csrf_token %}
                    <h4><p style="text-align:center">Insira os dados para a sua conta:</p></h4>
                    {% for field in form %}
                        <p>
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field | add_class:"form-control1" }}
                            </div>

                            <!-- AQUI -->

                            {% for error in field.errors %}
                                <small style="color: red">{{ error }}</small>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    <div class="row justify-content-center">
                        <button class="btn btn-outline-success1 my-2 my-sm-0" type="submit">Sign up</button>

                    </div>

                </form>
            </section>
        </div>
    </div>


{% endblock %}


{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'scripts/jquery.validate.min.js' %}"></script>
{% endblock %}
