{% extends "layout.html" %}
{% load widget_tweaks %}
{% block content %}

    <h2>{{ title }}</h2>

    <div class="container-login">
        <div class="wrap-login">
            <section class="login" id="loginForm">
                <form action="." method="post" class="form-horizontal">
                    {% csrf_token %}
                    <h4><p style="text-align:center">Use a local account to sign in.</p></h4>
                    <hr/>
                    <div>
                        <div class="form-group">
                            {{ form.username.label_tag }}
                            {{ form.username | add_class:"form-control1" }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label_tag }}
                            {{ form.password | add_class:"form-control1" }}
                        </div>

                        <div class="row">
                            <div class="col-md-5 col-md-offset-2">
                                <div class="form-group" style="margin:0 auto; width: 25%">
                                    <input type="hidden" name="next" value="/"/>
                                    <input type="submit" value="Sign &nbsp; in" class="btn btn-outline-success1 my-2 my-sm-0"/>
                                </div>
                                {% if form.errors %}
                                    <p class="validation-summary-errors">Please enter a correct user name and
                                        password.</p>
                                {% endif %}
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" style="margin:0 auto; width: 25%">
                                    <input type="hidden" name="next" value="/"/>
                                    <input type="submit" value="Sign up" class="btn btn-outline-success1 my-2 my-sm-0"/>
                                </div>
                                {% if form.errors %}
                                    <p class="validation-summary-errors">Please enter a correct user name and
                                        password.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>

        <!--
        <div class="col-md-4">
            <section id="socialLoginForm"></section>
        </div>
        -->
    </div>


{% endblock %}


{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'scripts/jquery.validate.min.js' %}"></script>
{% endblock %}
