{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            console.log("test");
        });

        function updateElementIndex(el, prefix, ndx) {
            var id_regex = new RegExp('(' + prefix + '-\\d+)');
            var replacement = prefix + '-' + ndx;
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }

        function cloneMore(selector, prefix, total) {
            var newElement = $(selector).clone(true);
            total++;
            newElement.find(':button').each(function () {
                $(this).attr({'id': total});
            });
            newElement.find(':input').each(function () {
                var name = $(this).attr('name')
                if (name) {
                    name = name.replace('-' + (total - 1), '-' + total);
                    var id = name;
                    console.log(name)
                    $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
                }
            });
            total++;
            $('#id_' + prefix + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
            var conditionRow = $('.form-row:not(:last)');
            console.log(conditionRow)
            conditionRow.find('.btn.add-form-row')
                .removeClass('btn-primary ').addClass('btn-danger')
                .removeClass('add-form-row').addClass('remove-form-row')
                .html('-');
            return false;
        }

        function deleteForm(prefix, btn, total) {
            console.log('aqui!!')
            total++;
            total++;
            if (total > 1) {
                console.log('aqui!!!')
                btn.closest('.form-row').remove();
                var forms = $('.form-row');
                console.log(prefix)
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
                for (var i = 0, formCount = forms.length; i < formCount; i++) {
                    $(forms.get(i)).find(':input').each(function () {
                        updateElementIndex(this, prefix, i);
                    });
                }
            }
            return false;
        }

        $(document).on('click', '.add-form-row', function (e) {
            e.preventDefault();
            total = $(this).attr('id');
            console.log(total)
            cloneMore('.form-row:last', 'form', total);
            return false;
        });

        $(document).on('click', '.remove-form-row', function (e) {
            e.preventDefault();
            total = $(this).attr('id');
            deleteForm('form', $(this), total);
            return false;
        });

        /*(function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();*/


    </script>
{% endblock %}

{% block content %}

    <div class="container body-content">
        <h3 class="text-center text-uppercase text-secondary mb-0" style="margin-top: 4rem">Alterar Receita</h3>
        <hr class="star-dark mb-5" style="margin-top: 1.5rem">

        <form class="needs-validation regForm" id="receita" action="/updateReceita/{{ receita.id }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Nome -->
            <div class="form-group">
                <h6 align="center" style="margin-bottom: 20px">Comecemos pelo mais fácil.. o NOME :)</h6>
                <input placeholder="Nome" type="text" class="form-control" name="nome" id="nomeReceita" style="width: 100%; max-width: 100%" value="{{ receita.nome }}" required>
            </div>

            <!-- Descrição -->
            <div class="form-group" style="margin-top: 60px; ">
                <h6 align="center" style="margin-bottom: 20px">E agora, que tal uma breve descrição?</h6>
                <textarea placeholder="Descrição" class="form-control" name="descricao" id="descricaoReceita" rows="4" style="width: 100%; max-width: 100%"  required>{{ receita.descricao }}</textarea>
            </div>

            <!-- Ingrediente -->
            <div>
                <h6 align="center" style="margin-bottom: 35px; margin-top: 60px">Ora vamos lá a saber, do que vamos precisar?</h6>
                {% load index %}
                {% for num in range_ingredientes %}
                    <div class="row form-row form-group spacer" style="width: 100%; max-width: 100%; ">
                        <div class="col-5 form-group ">
                            <label for="">Ingrediente:</label>
                            <input placeholder="Nome" class="form-control" type="text" name="ing-{{ num }}" id="ing-{{ num }}" value="{{ ingredientes_receita | nome:num }}" required>
                        </div>
                        <div class="col-3 form-group ">
                            <label for="">Quantidade:</label>
                            <input class="form-control" type="number" name="qt-{{ num }}" step="0.5" id="qt-{{ num }}" value="{{ ingredientes_receita | quantidade:num }}" required>
                        </div>
                        <div class="col-3 form-group ">
                            <label for="">Unidade:</label>
                            <select class="form-control" name="un-{{ num }}" id="in-{{ num }}" required>
                                {% for u in unidades %}
                                    {% if u == ingredientes_receita|unidade:num %}
                                        <option value="{{ u }}" selected>{{ u }}</option>
                                    {% else %}
                                        <option value="{{ u }}" >{{ u }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        {% if num == n_ingredientes %}
                            <div class="col-1" style="padding-left: 30px; margin-top: 30px">
                                <button class="btn btn-primary add-form-row" id="{{ num }}">+</button>
                            </div>
                        {% else %}
                            <div class="col-1" style="padding-left: 30px; margin-top: 30px">
                                <button class="btn btn-danger remove-form-row" id="{{ num }}">-</button>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <!-- Preparação -->
            <div class="form-group" style="margin-top: 60px; ">
                <h6 align="center" style="margin-bottom: 20px">Diga-nos, <span style="color: #18bc9c">TIM TIM</span> por <span style="color: #18bc9c">TIM TIM</span>, o que fazer!!</h6>
                <textarea placeholder="1. Exemplo" class="form-control" name="passos" id="passoReceita" rows="10" style="width: 100%; max-width: 100%; "  required>{{ receita.preparacao }}</textarea>
            </div>

            <!-- Tipo e Dificuldade -->
            <div class="row" style="width: 100%; max-width: 100%; margin-top: 50px">
                <div class="form-group col-6">
                    <h6 align="center" style="margin-bottom: 20px">De que tipo é a receita?</h6>
                    {% for tipo in tipos %}
                        {% if receita.tipo == tipo %}
                            <div class="radio">
                                <label><input type="radio" name="tipoReceita" value="{{ tipo }}" checked
                                              required>&nbsp;&nbsp;{{ tipo }}</label>
                            </div>
                        {% else %}
                            <div class="radio">
                                <label><input type="radio" name="tipoReceita" value="{{ tipo }}"
                                              required>&nbsp;&nbsp;{{ tipo }}</label>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="form-group col-6">
                    <h6 align="center" style="margin-bottom: 20px">.. e qual o grau de dificuldade?!</h6>
                    {% for nivel in dificuldade %}
                        {% if receita.dificuldade == nivel %}
                            <div class="radio">
                                <label><input type="radio" name="dificuldade" value="{{ nivel }}" checked
                                              required>&nbsp;&nbsp;{{ nivel }}</label>
                            </div>
                        {% else %}
                            <div class="radio">
                                <label><input type="radio" name="dificuldade" value="{{ nivel }}"
                                              required>&nbsp;&nbsp;{{ nivel }}</label>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <!-- Tempo e Dose -->
            <div class="row" style="margin-top:  50px">
                <div class="form-group col-6">
                    <h6 align="center" style="margin-bottom: 20px"><span style="color: #18bc9c">"Tempo é dinheiro"</span>.. vamos aos minutos? </h6>
                    <input placeholder="Tempo(min)" style="width: 100%; max-width: 100%;" class="form-control" type="number" name="tempo" id="tempo" min="0" value="{{ receita.tempo }}" required>
                </div>
                <div class="form-group col-6">
                    <h6 align="center" style="margin-bottom: 20px">Quantas doses vou eu ter?</h6>
                    <input placeholder="Nº Doses" style="width: 100%; max-width: 100%;" class="form-control" type="number" name="dose" id="dose" min="0" value="{{ receita.dose }}" required>
                </div>
            </div>

            <!-- Imagem-->
            <div class="row" style="margin-top:  50px">
                <div class="form-group col">
                    <h6 align="center" style="margin-bottom: 20px">E como os olhos também comem.. ;) </h6>
                    <input type="file" class="form-control-file" name="imagem" id="imagem" >
                </div>
            </div >

            <!-- Tags-->
            <div>
                <h5 align="center" style="margin-top: 50px; padding-bottom: 0px">POR ÚLTIMO!</h5>
                <h6 class="text-center text-secondary mb-0" style="margin-top: 10px;">O que é, o que é.. que?</h6>
                <div class="form-group row" style="margin-top: 50px">
                    {% for tag in tags %}
                        {% if tag in tags_receita %}
                            <div class="col-3">
                                <div class="checkbox">
                                    <label><input type="checkbox" name="tags" value="{{ tag.nome }}" checked>&nbsp;&nbsp;{{ tag.nome }} </label>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-3">
                                <div class="checkbox">
                                    <label><input type="checkbox" name="tags" value="{{ tag.nome }}" >&nbsp;&nbsp;{{ tag.nome }}</label>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>


        </form>
    </div>
{% endblock %}